<!-- start custom head snippets -->

<!-- insert favicons -->
<link rel="shortcut icon" type="image/png" href="/assets/favicons/favicon.png">
<!-- non-retina iPhone pre iOS 7 -->
<link rel="apple-touch-icon" href="/assets/favicons/apple-touch-icon.png" sizes="56x56">
<!-- non-retina iPad pre iOS 7 -->
<link rel="apple-touch-icon" href="/assets/favicons/apple-touch-icon-72x72.png" sizes="72x72">
<!-- retina iPhone pre iOS 7 -->
<link rel="apple-touch-icon" href="/assets/favicons/apple-touch-icon-114x114.png" sizes="114x114">
<!-- retina iPad pre iOS 7 -->
<link rel="apple-touch-icon" href="/assets/favicons/apple-touch-icon-144x144.png" sizes="144x144">
<!-- Win8 tile -->
<meta name="msapplication-TileImage" content="/assets/favicons/favicon.png">
<meta name="msapplication-TileColor" content="#f8f9f9"/>
<meta name="application-name" content="Hakan TERMAN" />

<!-- end custom head snippets -->
