{% if site.footer_scripts %}
  {% for script in site.footer_scripts %}
    {% if script contains "://" %}
      {% capture script_path %}{{ script }}{% endcapture %}
    {% else %}
      {% capture script_path %}{{ script | relative_url }}{% endcapture %}
    {% endif %}
    <script src="{{ script_path }}"></script>
  {% endfor %}
{% else %}
  <script src="{{ '/assets/js/main.min.js' | relative_url }}"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"></script>
<script>
jQuery(document).ready(function ($) {
  $('#myTable').DataTable({
      language: {
          info: "_TOTAL_ kayıttan _START_ - _END_ kayıt gösteriliyor.",
          infoEmpty:      "Gösterilecek hiç kayıt yok.",
          loadingRecords: "Kayıtlar yükleniyor.",
          zeroRecords: "Tablo boş",
          search: "Arama:",
          infoFiltered:   "(toplam _MAX_ kayıttan filtrelenenler)",
          buttons: {
              copyTitle: "Panoya kopyalandı.",
              copySuccess:"Panoya %d satır kopyalandı",
              copy: "Kopyala",
              print: "Yazdır",
          },

          paginate: {
              first: "İlk",
              previous: "Önceki",
              next: "Sonraki",
              last: "Son"
          },
      },
      dom: 'Bfrtip',
      buttons: [
          'copy', 'excel', 'pdf', 'print'
      ],
      responsive: true
  });
});
</script>

{% endif %}

{% if site.search == true or page.layout == "search" %}
  {%- assign search_provider = site.search_provider | default: "lunr" -%}
  {%- case search_provider -%}
    {%- when "lunr" -%}
      {% include_cached search/lunr-search-scripts.html %}
    {%- when "google" -%}
      {% include_cached search/google-search-scripts.html %}
    {%- when "algolia" -%}
      {% include_cached search/algolia-search-scripts.html %}
  {%- endcase -%}
{% endif %}

{% include analytics.html %}
{% include /comments-providers/scripts.html %}
